mixin card(title,src)
    .card 
        .card__image 
            img(src=`img/${src}`, alt=title)
        .card__title=title 
        a.button(href="#", target="_blank", rel="noopener noreferrer") Learn more
