
*,
*::before,
*::after {
    box-sizing: inherit;
}
*:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
html {
    box-sizing: border-box;
    
}

body {
    margin: 0;
}
ul{
    list-style: none;
    padding-left: 0;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
header,section,footer{
    max-width: 1280px;
    margin: 0 auto;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}