// Файл для подключения нестандартных шрифтов
  @font-face {
    font-family: HelveticaNeueCyr;
    src: local(HelveticaNeueCyr-Light),
      url(../fonts/HelveticaNeueCyr-Light.woff) format("woff"),
      url(../fonts/HelveticaNeueCyr-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
  }
  @font-face {
    font-family: HelveticaNeueCyr;
    src: local(HelveticaNeueCyr-Bold),
      url(../fonts/HelveticaNeueCyr-Bold.woff) format("woff"),
      url(../fonts/HelveticaNeueCyr-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
  }
  @font-face {
    font-family: HelveticaNeueCyr;
    src: local(HelveticaNeueCyr-Black),
      url(../fonts/HelveticaNeueCyr-Black.woff) format("woff"),
      url(../fonts/HelveticaNeueCyr-Black.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
  }
  @font-face {
    font-family: NimbusSanTCon;
    src: local(NimbusSanTConBold),
    url(../fonts/NimbusSanTConBold.woff) format("woff"),
    url(../fonts/NimbusSanTConBold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
  }
  @mixin title {
    font-family: HelveticaNeueCyr;
    font-size: 68px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: center;
    color: $pale-grey;
    @include media-custom(900px){
      font-size: 50px;
    }
    @include media-custom(700px){
      font-size: 40px;
    }
    @include media-custom(500px){
      font-size: 25px;
    }
  }
  @mixin title-2-bold {
    font-family: HelveticaNeueCyr;
    font-size: 54px;
    font-weight: bold;
    line-height: 0.98;
    text-align: left;
    color: $grass-green;
    @include media-custom(900px){
      font-size: 40px;
    }
    @include media-custom(700px){
      font-size: 30px;
    }
    @include media-custom(500px){
      font-size: 20px;
    }
  }
  @mixin title-2-light {
    font-family: HelveticaNeueCyr;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.56;
    text-align: left;
    color: $black;
    @include media-custom(900px){
      font-size: 30px;
    }
    @include media-custom(700px){
      font-size: 25px;
    }
    @include media-custom(500px){
      font-size: 20px;
    }
  }
  @mixin sub-title {
    font-family: HelveticaNeueCyr;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.18;
    text-align: center;
    color: $pale-grey;
    @include media-custom(900px){
      font-size: 30px;
    }
    @include media-custom(700px){
      font-size: 25px;
    }
    @include media-custom(500px){
      font-size: 20px;
    }
  }
  @mixin cards-description {
    font-family: HelveticaNeueCyr;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.18;
    text-align: left;
    color: $pale-grey;
    @include media-custom(900px){
      font-size: 30px;
    }
    @include media-custom(700px){
      font-size: 25px;
    }
    @include media-custom(500px){
      font-size: 20px;
    }
  }
  @mixin menu-buttons {
    font-family: NimbusSanTCon;
    font-size: 19px;
    font-weight: normal;
    line-height: 2.11;
    text-align: center;
    color: $white;
  }
  @mixin text-sec1 {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.79;
    text-align: center;
    color: $white;
  }
  @mixin text-2 {
    font-family: Arial;
    font-size: 14px;
    line-height: 1.79;
    text-align: left;
    color: $black;
  }
  @mixin footer-text {
    font-family: Arial;
    font-size: 12px;
    line-height: 1.67;
    text-align: left;
    color: $warm-grey-two;
  }
 