include ../../pug-mixins/mixins

section.about 
    .container 
        .cards
            +card(`Potting Soil`,`potting_soil.jpg`)
            +card(`Peat Moss`,`peat_moss.jpg`)
            +card(`Fertilizers`,`fertilizers.jpg`)
            +card(`Mulch`,`mulch.jpg`)
            +card(`Compost`,`compost.jpg`) 