.about{
    background-color: $pine;
    border-top:4px solid $rusty-orange;
    position: relative;
    .container{
        .cards{
            margin-top: -11.5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .card{
                max-width: 220px;
                margin-right: 11%;
                margin-bottom: 3%;
                .card__image{
                    border:7px solid $white;
                    border-radius: 50%;
                    img{
                        border-radius: 50%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .card__title{
                    margin-top: 15%;
                    margin-bottom: 8%;
                    @include cards-description;
                    text-align: center;
                }
                .button{
                    width: 75%;
                }
            }
            .card:nth-of-type(3n),.card:last-of-type{
                margin-right: 0;
            }
        }
    }
   
}