header.header
    .container
        .header_burger-menu 
            svg(viewbox='0 0 100 80' width='40' height='40')
                rect(width='100' height='20' rx='8')
                rect(y='30' width='100' height='20' rx='8')
                rect(y='60' width='100' height='20' rx='8')
        .logo
           img(src="./img/Logo.png", alt="logo")
        include ../nav/nav 
        .header__title For All Your Landscaping&nbsp;Needs...
        .header__content 
             h2.header__content-title Welcome to Nursery Supply Co.
             p.header__content-text &nbsp;Nursery Supply Co. LLC, the manufacturer of Black Platinum and Gold Diamond hardwood mulch was founded in 1974. In March 2004 the company was purchased by its current ownership based in Louisville, KY. Our mulch manufacturing plants in Clay City, KY and Greenville, IN provide numerous mulch products to customers throughout Ohio, Indiana and Kentucky. We service a customer base which includes;...,
